<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite  name="Automation Test" >

 <listeners>
		
	
		<listener class-name="com.thtechops.qa.automation.listeners.TestListeners" />
		
		
	</listeners>


<suite-files>


  

    <suite-file path="src/test/resources/Suites/Login.xml"/>
    

 	    
 
 
 </suite-files>
 

 
</suite> <!-- Suite -->
